.card-container {
    opacity: 0;
    animation: fade-in 300ms ease-in forwards;
}

.card:hover::before {
    opacity: 1;
}

.card::before {
    background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y),
        hsla(0 100% 100% /0.2),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
