.popup {
    background: hsl(var(--secondary));
    padding: 1rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: .5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    position: absolute;
    animation: slide-in 1s ease-in forwards;
}

@keyframes slide-in {
    from {
        top:-999px
    }
    to {
        top: 30px;
    }
}